html,body{
	font-family: "Six Caps"!important;
	position: fixed;
	min-height: 100%;
	user-select:none;
}

img{
	width:100%;
	opacity: 1;
}
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.upgate{
	background: url("../images/upgate.png") no-repeat;
	background-size: 100vw 50vh;
	position: absolute;
	top:0px;
	left:0px;
	opacity: 0.8;
	width:100vw;
	height: 50vh;
	margin:0px;
}

.downgate{
	background: url("../images/downgate.png") no-repeat;
	background-size: 100vw 50vh;
	position: absolute;
	left:0px;
	bottom:0px;
	opacity: 0.8;
	width:100vw;
	height:50vh;
	margin:0px;

}
video{
	height: 100%;
	width: 100%;
	background-color: white;
}
.open-btn{
	position: absolute;
	font-family: "Six Caps"!important;
	z-index: 1;
	bottom:80px;
	height: 50px;
	left:47%;
	background-color:rgba(0,0,0,0);
	color:white;
	width:150px;
	text-align: center;
	border:2px solid rgba(255,255,255,0.8);
	border-radius: 15px;
	font-size:30px;
}
.hani{
	width: 24vh;
}
.solji{
	width: 21vh;
}
.le{
	width: 27vh;
}
.hyelin{
	width: 22vh;
}
.junghwa{
	width: 22vh;
}
.member{
	transition: all 0.5s linear;
	position: absolute;
	bottom:0px;
}
.member:hover{
	transform: scale(1.3);
	z-index: 1;
	bottom:0px;
	filter: drop-shadow(0px 0px 20px rgba(0,0,0,0.3));
	cursor:pointer;
}
.colMember{
	display: inline-block;
	position: relative;
	height: 100vh;
	text-align: center;
}
.flag{
	background:url("../images/flag.png") no-repeat top center;
	background-size:100%;
	filter: drop-shadow(0px 0px 20px rgba(0,0,0,0.3));
	height:30%;
	width:30%;
	position: absolute;
	top:0px;
	left:30%;
	transform: translate(-50%,-22%);
	transition: all 1s ease-in-out;
}
.flag p{
	position: absolute;
	z-index: 2222;
	color:#FFFFFF;
	font-family: "Indie Flower";
	font-size:2vh;
	text-align: center;
	top:45%;
	left:15%;
	right:15%;
}
small{
	font-size:2.2vh;
}
.member:hover~.flag{
	left:30%;
	transform: translate(-50%,-40%);
}
.haniflag{
}
.soljiflag{
}
.junghwaflag{
}
.leflag{
}
.hyelinflag{
}
.openPage{

}
.main{
	width:100vw;
	height: 100vh;
	background:url("../images/word-bg.png") no-repeat;
	background-size:cover;
	position: fixed;
	display: none;
}
button:hover{
	cursor: pointer;
}
button:focus{
		outline:0px;
}
/*Modal*/
body.modal-open .main{
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(2px);
}
.myModal{
	height: 700px;
	overflow: hidden;
}
.modalContent{
	position: absolute;
	top:20%;
	left:35%;
	width:40vw;
	height: 60vh;
	background: rgba(255,255,255,0.9);
	filter:drop-shadow(2px 2px 50px rgba(0,0,0,0.5));
}
.modalContent:before {
	    position: absolute;
    left: 0;
    top: -4px;
    background: rgba(0,0,0,0.0) url("https://cdn.shopify.com/s/files/1/0506/0633/t/25/assets/divider.png?7259472556260205373") repeat-x -1px 0;
    opacity: 0.8;
    filter:drop-shadow(5px 5px 50px black);
    transform: rotate(180deg);
    height: 5px;
    width: 100%;
    content: '';
   }
.modalContent:after {
	    position: absolute;
    left: 0;
    bottom: -5px;
    background: rgba(0,0,0,0.0) url("https://cdn.shopify.com/s/files/1/0506/0633/t/25/assets/divider.png?7259472556260205373") repeat-x -2px 0;
     opacity: 0.8;
    filter:drop-shadow(5px 5px 50px black);
    height: 5px;
    width: 100%;
    content: '';
    }
.modal-backdrop{
	background-color:transparent;
}
.myModal h2{
	position: absolute;
	top:-10vh;
	left:15px;
	font-family: "Six Caps";
	text-shadow: 5px 5px 5px black;
	font-size:10vh;
	color:#FFFFFF;
}
@font-face {
    font-family: MyCustomFont;
    src: url('hangulfont.ttf');
}
.myModal .modalContent .info{
	position: absolute;
	top:0px;
	left:15px;
	font-family: "Indie FLower","MyCustomFont";
	font-size:4vh;
	padding-top:15px;
	vertical-align: center;
}
.modalContent .label{
	float:left;
	display: block;
	width:11vw;
	font-weight: bold;
}
.modalContent p{
	float:left;
	width:25vw;
	font-size:3.5vh;
		vertical-align: bottom;

}
.modalContent .info{
	position: absolute;
	height: 60vh;
	bottom:0px;
	top:0px;
	overflow: auto;
}
.slidebtngroup{
	position: absolute;
	top:-10vh;
	right:1vw;
}
.slide-btn:hover{
	cursor:pointer;
}
.next-btn-style{
	font-family: "Six Caps"!important;
	font-size:9vh!important;
	color:white!important;
	text-shadow: 5px 5px 5px black;
	display: none;
	margin-left:30px;

}
.prev-btn-style{
	font-family: "Six Caps"!important;
	font-size:9vh!important;
	color:white!important;
	text-shadow: 5px 5px 5px black;
	display: none;
}
.my-toolbar{
	margin-top:20vh;
}

.main-tool-btn{
	margin-left:50%;
	margin-bottom:3vh;
	display: block;
	width:5vw;
	height: 5vw;
	text-align: center;
	vertical-align: center;
	padding:0px;
	border-radius: 40px!important;
	filter:drop-shadow(5px 5px 5px black);
}
.main-tool-btn:hover{
	background-color:white;
	transform: scale(1.2);
	filter:drop-shadow(5px 5px 20px black);
}
.main-tool-btn:focus{
	outline: 0px!important;
	background:white;
}
.main-tool-btn:active{
	outline: 0px!important;
	background:white!important;
}
.fb-btn:active{
	background:#6074A3!important;
}

@media only screen and (max-width: 720px) {

   .modalContent p,.modalContent label { font-size: 12px; }

}
@keyframes blurIt{
	from {filter: blur(4px);}
    to {filter: blur(0px);}
}
.clear{
	clear:both;
}